Package: py-relay
Version: 1.0-23
Architecture: amd64
Section: IoT
Priority: optional
Depends: libpython2.7, python-prctl, python-mysqldb, python-smbus, python-crypto, python-ephem, monit
Suggests: python-pip
#Recommends:
Maintainer: Vladimir Vons <VladVons@gmail.com>
Homepage: http://oster.com.ua/software
Description: Relay automation
