Package: py-relay
Version: 1.0-16
Section: IoT
Priority: optional
#Architecture: amd64
Architecture: armhf
Depends: libpython2.7, python-prctl, python-mysqldb, python-smbus, python-crypto
Suggests: python-pip
Recommends: monit
Maintainer: Vladimir Vons <VladVons@gmail.com>
Homepage: http://oster.com.ua/software
Description: Relay automation
